github "jdg/MBProgressHUD" ~> 1.1.0
github "ealeksandrov/EAIntroView"
github "ReactiveX/RxSwift" ~> 5.0
github "ashleymills/Reachability.swift"
github "scenee/FloatingPanel"
github "onevcat/Kingfisher" ~> 5.0
