<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>Tokyo Tower</string>
            <key>description</key>
            <string>Welcome to New York City!</string>
            <key>latitude</key>
            <real>35.658581</real>
            <key>longitude</key>
            <real>139.745433</real>
        </dict>
        <dict>
            <key>title</key>
            <string>Roppongi hills</string>
            <key>description</key>
            <string>Welcome to San Francisco!</string>
            <key>latitude</key>
            <real>35.660238</real>
            <key>longitude</key>
            <real>139.730077</real>
        </dict>
    </array>
</plist>
