<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745892119527-5pvu3gt63l2mvse0gld7fvkj4qim179g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745892119527-5pvu3gt63l2mvse0gld7fvkj4qim179g</string>
	<key>API_KEY</key>
	<string>AIzaSyBmcg7ovFlSqsH-K-KS5BZOPW_K6Y9LGj0</string>
	<key>GCM_SENDER_ID</key>
	<string>745892119527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.g1221438.ReeMap</string>
	<key>PROJECT_ID</key>
	<string>reemap-project</string>
	<key>STORAGE_BUCKET</key>
	<string>reemap-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745892119527:ios:1e998ca40fc26897</string>
	<key>DATABASE_URL</key>
	<string>https://reemap-project.firebaseio.com</string>
</dict>
</plist>